<div class="container-fluid card" style="padding: 30px;">
	<ng-progress></ng-progress>
	<h1 class="btn btn-danger btn-block disabled" style="border-radius: 0;" >My Goals</h1>
	<hr>
  
	<div class="row">
	  <div class="col-md-6 card" style="padding: 30px;  margin: 10px;">
		<div *ngFor='let goal of goals;let i = index'>
		  <div class="card" style="margin-top: 10px; padding: 10px;">
			<p id={{i}} appStrikethrough>{{goal.name}} due on {{goal.cdate|date|uppercase}}</p>
			<button class="btn btn-primary" (click)='goToUrl(goal.id)'>View Details</button>
          <button class="btn btn-outline-danger" (click)='DeleteGoal($event,i)'>Delete Goal</button>
		  </div>
		</div>
	  </div>
	  <div class="col col-md-5.8 card" style="padding: 30px; margin: 10px;">
		<app-goal-form (addGoal)='addNewGoal($event)'></app-goal-form>
	  </div>
	</div>
	
	<p *ngIf='goals.length > 5'>You have too many goals</p>
	<div class="row">
		<blockquote class="blockquote text-center">
			<p class="mb-0">{{quote.quote}}</p>
			<footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
		</blockquote>
	</div>
  </div>